body {
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
    background-color: #465fe9;
    color: #192252;
}

img {
    /*No drag or select*/
    user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

button, a, .edit-overlay {
    cursor: pointer;
}

.horizontal-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vertical-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.center-non {
    align-self:flex-start;
}

.horizontal-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.vertical-flex {
    display: flex;
    flex-direction: column;
}

.space-between {
    justify-content: space-between;
}

/* ----------Animation---------- */
@keyframes gradientMove {
    0% {
        background-position: 200% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
@keyframes sheen {
    0% {
        transform: scale(1);
        
        background-color: #465fe9;
      }
      50% {
        transform: scale(1.05);
        
        background-color: #465fe9;
      }
      100% {
        transform: scale(1);
        color: white;
        background-color: #465fe9;
      }
}
@keyframes sheen2 {
    0% {
        transform: scale(1);
        
      }
      50% {
        transform: scale(1.1);
        
      }
      100% {
        transform: scale(1);
        color: #192252;
      }
}

@keyframes slideHero {
    0% { transform: translateX(0%); }
    14% { transform: translateX(0%); }
    28% { transform: translateX(-100%); }
    42% { transform: translateX(-100%); }
    56% { transform: translateX(-200%); }
    70% { transform: translateX(-200%); }
    84% { transform: translateX(-300%); }
    100% { transform: translateX(-300%); }
}

/* ----------Navigation Bar---------- */

#navBar {
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f1f5fc;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo {
    margin-left: 2%;
}

#logo > img {
    height: 5rem;
    width: auto;
    object-fit: contain;
}

#profile {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-right: 2%;
}

#pages {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-block: 1%;
    gap: 2rem;
    margin-left: 6rem;
}

a {
    text-decoration: none;
}

#profile a{
    border-radius: 0.3rem;
    width: 6rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}

#profile-sign-up {
    border: solid 1px #465fe9;
    background-color: white;
    color: #465fe9;
}

#profile-sign-in {
    background-color: #465fe9;
    color: white;
}

#pages a {
    color: #464f6d;
}
/* ----------------------------- */


/* ---------Main Panel--------- */

.main-panel {
    min-height: 60vh;
    min-width: 45rem;
    padding: 5%;
    background-color: #fafafa;
    border-radius: 0.3rem;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0.5rem 0.5rem 1rem 1px rgba(0, 0, 0, 0.683);
}
/* ----------------------------- */

/* ----------Profile Form---------- */
#profile-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#description-preview {
    max-width: 30rem;
    max-height: 10rem;
    overflow: auto;
}

#profile-form > h0 {
    font-size: 10rem;
    font-weight: bold;
    /* Create a linear gradient that spans multiple colors */
    background: linear-gradient(90deg, rgb(0, 72, 255), rgb(0, 47, 128), rgb(50, 77, 251), rgb(46, 27, 140), rgb(0, 72, 255));
    background-size: 200% 100%; /* Increase the background's width to allow movement */
    
    /* Clip the background to the text */
    -webkit-background-clip: text;
    background-clip: text;
    
    /* Make the actual text color transparent so that the background shows through */
    -webkit-text-fill-color: transparent;
    
    /* Apply the animation */
    animation: gradientMove 5s linear infinite;
}
/* ----------------------------- */

/* ----------Cover Preview---------- */
#cover-preview {
    position: relative;
    align-items: last baseline;
    margin-left: 2rem;
}

#cover-preview img {
    max-height: 20rem;
}
/* ----------------------------- */

/* ----------Edit Book---------- */
.edit-info {
    position: relative;
    display: inline-block;
    padding: 8px;
    border-radius: 6px;
}

.edit-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.301);
    border: solid 1px black;
    border-radius: 6px;
    opacity: 0;
    transition: opacity 0.3s ease, background-color 0.2s ease;
}

.edit-overlay:active {
    background-color: rgba(0, 0, 0, 0.501);
}

.edit-overlay i {
    font-size: 400%;
    color: #192252;
}

.small-edit i {
    font-size: 200%;
}

.round-edit {
    border-radius: 15rem;
}

.edit-overlay:hover {
    opacity: 1;
    z-index: 10;
}

/* ----------------------------- */

/* ----------Name and Title---------- */
.name-title * {
    margin: 0;
    padding: 0;
    line-height: 1.3;
}

/*Change the color of the title*/
.name-title > :last-child {
    color: #464f6d;
}
/* ----------------------------- */

/* ----------Input Section---------- */
.input-section {
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

.input-section input {
    width: 15rem;
    height: 1.8rem;
    border: solid 1px #a9b1cb;
    border-radius: 5px;
}

#description-input {
    min-width: 32.5rem;
    min-height: 10rem;
    overflow: auto;
    resize: none;
}
/* ----------------------------- */

/* ----------Buttons---------- */
.blue-button {
    width: 5rem;
    height: 2rem;
    background-color: #465fe9;
    border-color: #465fe9;
    border-radius: 5px;
    color: white;
    border: none;
    transition: background-color 0.2s ease;
}

.red-button {
    width: 6rem;
    height: 2rem;
    background-color: #dc3645;
    border-radius: 5px;
    color: white;
    border: none;
    transition: background-color 0.2s ease;
}

.gray-button {
    width: 7rem;
    height: 2rem;
    background-color: #ecf1f8;
    border-radius: 5px;
    color: #464f6d;
    border: solid 1px #6d758f;
    transition: background-color 0.2s ease;
}

.blue-button:hover {
    background-color: #5a73f2;;
}

.blue-button:active {
    background-color: #384cba;
}

.red-button:hover {
    background-color: #e75360;
}

.red-button:active {
    background-color: #a42833;
}

.gray-button:hover {
    background-color: #dce4f0;
}

.gray-button:active {
    background-color: #cfd9eb;
}
/* ----------------------------- */

/* ----------Flag and Category---------- */
.flag-categ > :first-child {
    display: inline-block;
    background-color: #198754;
    border-radius: 50px;
    color: white;
    text-align: center;
    padding: 0.3rem;
}
/* ----------------------------- */

/* ----------Carousel Hero---------- */
.hero-carousel {
    width: 50%;
    overflow: hidden;
    background: none;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-track {
    display: flex;
    animation: slideHero 20s infinite;
    width: 300%;
    transition: transform 1s ease;
}

.carousel-track:hover {
    animation-play-state: paused; /* Pause animation on hover */
}

.slide {
    flex: 0 0 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    font-weight: bold;
}

.slide p {
    color: #464f6d;
    text-align: center;
}

.arrow-button {
    background: none;
    border: solid 1px #192252;
    color: #192252;
    font-size: 1rem;
    border-radius: 50%;
    height: 1.5rem;
    width: 1.5rem;
}
/* ----------------------------- */