body {
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
    background-color: #465fe9;
}

#navBar {
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f1f5fc;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo {
    margin-left: 2%;
}

#logo > img {
    height: 5rem;
    width: auto;
    object-fit: contain;

    /*No drag or select*/
    user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

#profile {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-right: 2%;
}

#pages {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-block: 1%;
    gap: 2rem;
    margin-left: 6rem;
}

a {
    text-decoration: none;
}

#profile a{
    border-radius: 0.3rem;
    width: 6rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}

#profile-sign-up {
    border: solid 1px #465fe9;
    background-color: white;
    color: #465fe9;
}

#profile-sign-in {
    background-color: #465fe9;
    color: white;
}

#pages a {
    color: #464f6d;
}